<mat-card class="border_accent">
  <mat-toolbar color="primary">
    <!-- <a routerLink="/admin/user/list" mat-icon-button>
        <mat-icon aria-label="Back">arrow_back</mat-icon>
    </a> -->
    <span class="fill-remaining-space"></span>
    <span>QUARANTINED STOCK</span>
    <span class="fill-remaining-space"></span>
    <!-- <button mat-raised-button [routerLink]="['/admin/user/list']" routerLinkActive="router-link-active" color="primary">
      <mat-icon aria-label="Add">list</mat-icon>&nbsp; Users
    </button> -->
  </mat-toolbar>

<form [formGroup]="quarantinedStockForm">
  <input type="hidden" formControlName="id">
  <input type="hidden" formControlName="dateCreated">
  <input type="hidden" formControlName="version">
  <input type="hidden" formControlName="createdById">

<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
    <div fxFlex="25%">
      <p>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Branch</mat-label>
          <mat-select [(value)]="selected" [compareWith]="compareFn" formControlName="branch" [disabled]="editBranches">
              <mat-option *ngFor="let branch of allBranches" [value]="branch" (click)="reloadForBranch(branch.id)">
                {{branch.branchName}}
              </mat-option>
            </mat-select>
          <mat-icon matSuffix>home</mat-icon>
        </mat-form-field>
      </p>
<p>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="todaysDate" (dateChange)="getByDate(quarantinedStockForm.value)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          <mat-hint>yesterday's date</mat-hint>
        </mat-form-field>
      </p>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div fxFlex="10%"></div>
  <div fxFlex="15%"><mat-card [style.background-color]="collectionsBgColor()" class="info-card"><p>Collections </p><h2>{{ (((initCollections) / initCollectionsFromDb)*100).toFixed(2)}}%</h2></mat-card></div>
  <div fxFlex="15%"><mat-card class="info-card"><p>Quarantine Stock </p><h2>{{QuarantineStock()}}</h2></mat-card></div>
  <div fxFlex="15%"><mat-card class="info-card">
    <p>Opening: <strong>{{initOpeningStock}} </strong></p>
    <p>Receipts: <strong>{{initTotalReceipts}} </strong></p>
  </mat-card>
</div>
<div fxFlex="15%"><mat-card class="info-card">
  <p>Issues: <strong>{{initCollectionsValue()}} </strong></p>
  <p> Discards: <strong>{{initTotalDiscards}} </strong></p>
</mat-card>
</div>
</div>


  <mat-accordion [multi]="true">
    <!-- start collections panel -->
    <mat-expansion-panel [expanded]="true" class="border">
      <mat-expansion-panel-header class="primary-bg">
        <mat-panel-title>

        </mat-panel-title>
        <mat-panel-description>
          COLLECTIONS
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
      <div fxFlex="17%">
        <p>
          <mat-label class="full-width">Opening Stock</mat-label>
        </p>
      </div>
      <div fxFlex="25%">
          <mat-form-field class="full-width" appearance="outline">
              <mat-label>Opening Stock</mat-label>
              <input type="number" [(ngModel)]="initOpeningStock" matInput formControlName="openingStock" placeholder="Opening Stock" value="0" (keyup)="sumCollections(quarantinedStockForm.value)">
            </mat-form-field>
      </div>
      <div fxFlex="6%">
      </div>
      </div>
      <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
          <div fxFlex="17%">
            <p>
              <mat-label class="full-width">Static/HQ 01</mat-label>
            </p>
          </div>
          <div fxFlex="25%">
              <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Static/HQ 01</mat-label>
                  <input matInput formControlName="staticHq01" type="number" placeholder="Static/HQ 01" (keyup)="sumCollections(quarantinedStockForm.value)" (keyup)="staticPercentage()">
                </mat-form-field>
          </div>
          <div fxFlex="6%"><mat-card class="indicator" [style.background-color]="staticHqColor()" color="primary">{{staticHq}}%</mat-card></div>
          </div>
          <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
              <div fxFlex="17%">
                <p>
                  <mat-label class="full-width">Mobile 02</mat-label>
                </p>
              </div>
              <div fxFlex="25%">
                  <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Mobile 02</mat-label>
                      <input matInput formControlName="mobile02" type="number" placeholder="Mobile 02" (keyup)="sumCollections(quarantinedStockForm.value)"  (keyup)="mobPercentage()">
                    </mat-form-field>
              </div>
              <div fxFlex="6%"><mat-card class="indicator" [style.background-color]="mobile02Color()" color="primary">{{mobile02}}%</mat-card></div>
            </div>
      <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
      <div fxFlex="17%">
          <p>
            <mat-label class="full-width">Harare CBD 03</mat-label>
          </p>
        </div>
        <div fxFlex="25%">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Harare CBD 03</mat-label>
                <input matInput formControlName="harareCbd03" type="number" placeholder="Harare CBD 03" (keyup)="sumCollections(quarantinedStockForm.value)" (keyup)="staticPercentage()">
              </mat-form-field>
        </div>
        <div fxFlex="6%"><mat-card class="indicator" [style.background-color]="harareCbdColor()" color="primary" >{{harareCbd}}%</mat-card></div>
      </div>
      <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
        <div fxFlex="17%">
          <p>
            <mat-label class="full-width">Mobile 04</mat-label>
          </p>
        </div>
        <div fxFlex="25%">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Mobile 04</mat-label>
                <input matInput formControlName="mobile04" type="number" placeholder="Mobile 04" (keyup)="sumCollections(quarantinedStockForm.value)" (keyup)="mobPercentage()">
              </mat-form-field>
        </div>
        <div fxFlex="6%"><mat-card class="indicator" [style.background-color]="mobile04Color()" color="primary">{{mobile04}}%</mat-card></div>
      </div>


    <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
      <div fxFlex="17%">
          <p>
            <mat-label class="full-width">Mobile 06</mat-label>
          </p>
        </div>
        <div fxFlex="25%">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Mobile 06</mat-label>
                <input matInput formControlName="mobile06" type="number" placeholder="Mobile 04" (keyup)="sumCollections(quarantinedStockForm.value)"  (keyup)="mobPercentage()">
              </mat-form-field>
        </div>
        <div fxFlex="6%"><mat-card class="indicator" [style.background-color]="mobile06Color()" color="primary">{{mobile06}}%</mat-card></div>
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
          <div fxFlex="45%"></div>
              <div fxFlex="30%">
              <h1>
                <mat-label class="full-width">Total Collections</mat-label>
              </h1>
            </div>
            <div fxFlex="15%">
                <mat-form-field class="full-width input-headline" appearance="outline">
                    <input matInput formControlName="totalCollections" [(ngModel)]="initCollections" type="number" placeholder="total"  readonly>
                  </mat-form-field>
            </div>
          </div>
    </mat-expansion-panel>
    <!-- end collections panel -->

    <!-- start receipts panel -->
    <mat-expansion-panel [expanded]="true" class="border">
      <mat-expansion-panel-header class="primary-bg">
        <mat-panel-title>

        </mat-panel-title>
        <mat-panel-description>
          RECEIPTS FROM BRANCHES
        </mat-panel-description>
      </mat-expansion-panel-header>


      <div formArrayName="receivedFromQuarantineds">
        <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0"
        *ngFor="let item of StockReceivedFromArray.controls; index as i; last as isLast"
      [formGroupName]="i">
        <div fxFlex="17%">
          <p>
            <mat-label class="full-width">Received from {{branches[i]?.branchName}}</mat-label>
          </p>
        </div>
        <div fxFlex="25%">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label></mat-label>
                <input matInput formControlName="receivedFrom" type="number" (keyup)="sumReceived()">
              </mat-form-field>
        </div>
        </div>
      </div>
          <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
          <div fxFlex="17%">
            <p>
              <mat-label class="full-width">Reference Laboratory</mat-label>
            </p>
          </div>
          <div fxFlex="25%">
              <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Reference Laboratory</mat-label>
                  <input matInput formControlName="referenceLaboratory" type="number" placeholder="Reference Laboratory" (keyup)="sumReceived()">
                </mat-form-field>
          </div>
          <div fxFlex="17%"></div>
          </div>
          <mat-divider [inset]="true"></mat-divider>
          <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
              <div fxFlex="35%"></div>
                  <div fxFlex="40%">
                  <h1>
                    <mat-label class="full-width">Total Receipts from branches</mat-label>
                  </h1>
                </div>
                <div fxFlex="15%">
                    <mat-form-field class="full-width input-headline" appearance="outline">
                        <input matInput formControlName="totalReceiptsFromBranches" [(ngModel)]="initTotalReceipts" type="number" placeholder="total" readonly>
                      </mat-form-field>
                </div>
              </div>

    </mat-expansion-panel>
    <!-- start receipts panel -->

    <!-- start discards panel -->
    <mat-expansion-panel [expanded]="true" class="border">
      <mat-expansion-panel-header class="primary-bg">
        <mat-panel-title>

        </mat-panel-title>
        <mat-panel-description>
          DISCARDS
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
          <div fxFlex="17%">
            <p>
              <mat-label class="full-width">P1</mat-label>
            </p>
          </div>
          <div fxFlex="25%">
              <mat-form-field class="full-width" appearance="outline">
                  <mat-label>P1</mat-label>
                  <input type="number" matInput formControlName="p1" placeholder="P1" (keyup)="sumDiscards(quarantinedStockForm.value)">
                </mat-form-field>
          </div>
          <div fxFlex="17%"></div>
        </div>
          <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
          <div fxFlex="17%">
            <p>
              <mat-label class="full-width">P2</mat-label>
            </p>
          </div>
          <div fxFlex="25%">
              <mat-form-field class="full-width" appearance="outline">
                  <mat-label>P2</mat-label>
                  <input matInput formControlName="p2" type="number" placeholder="P2" (keyup)="sumDiscards(quarantinedStockForm.value)">
                </mat-form-field>
          </div>
          <div fxFlex="17%"></div>
        </div>
          <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
          <div fxFlex="17%">
            <p>
              <mat-label class="full-width">P3</mat-label>
            </p>
          </div>
          <div fxFlex="25%">
              <mat-form-field class="full-width" appearance="outline">
                  <mat-label>P3</mat-label>
                  <input matInput formControlName="p3" type="number" placeholder="P3" (keyup)="sumDiscards(quarantinedStockForm.value)">
                </mat-form-field>
          </div>
          <div fxFlex="17%"></div>
        </div>
          <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
              <div fxFlex="17%">
                <p>
                  <mat-label class="full-width">C11</mat-label>
                </p>
              </div>
              <div fxFlex="25%">
                  <mat-form-field class="full-width" appearance="outline">
                      <mat-label>C11</mat-label>
                      <input type="number" matInput formControlName="c11" placeholder="C11" (keyup)="sumDiscards(quarantinedStockForm.value)">
                    </mat-form-field>
              </div>
              <div fxFlex="17%"></div>
            </div>
              <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
                  <div fxFlex="17%">
                    <p>
                      <mat-label class="full-width">Wrong Pack</mat-label>
                    </p>
                  </div>
                  <div fxFlex="25%">
                      <mat-form-field class="full-width" appearance="outline">
                          <mat-label>Wrong Pack</mat-label>
                          <input matInput formControlName="wrongPack" type="number" placeholder="Wrong Pack" (keyup)="sumDiscards(quarantinedStockForm.value)">
                        </mat-form-field>
                  </div>
                  <div fxFlex="17%"></div>
                </div>
                <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
                    <div fxFlex="17%">
                      <p>
                        <mat-label class="full-width">Serological discards</mat-label>
                      </p>
                    </div>
                    <div fxFlex="25%">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Serological discards</mat-label>
                            <input matInput formControlName="serologicalDiscards" type="number" placeholder="Serological discards" (keyup)="sumDiscards(quarantinedStockForm.value)">
                          </mat-form-field>
                    </div>
                    <div fxFlex="17%"></div>
                    </div>
              <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
              <div fxFlex="17%">
                <p>
                  <mat-label class="full-width">Broken</mat-label>
                </p>
              </div>
              <div fxFlex="25%">
                  <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Broken</mat-label>
                      <input matInput formControlName="broken" type="number" placeholder="Broken" (keyup)="sumDiscards(quarantinedStockForm.value)">
                    </mat-form-field>
              </div>
              <div fxFlex="17%"></div>
            </div>
        <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
            <div fxFlex="17%">
                <p>
                  <mat-label class="full-width">Serum (Dry Packs, D3/D4)</mat-label>
                </p>
              </div>
              <div fxFlex="25%">
                  <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Serum (Dry Packs, D3/D4)</mat-label>
                      <input matInput formControlName="dryPacksD3D4" type="number" placeholder="Serum (Dry Packs, D3/D4)" (keyup)="sumDiscards(quarantinedStockForm.value)">
                    </mat-form-field>
              </div>
            </div>
            <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
                <div fxFlex="17%">
                    <p>
                      <mat-label class="full-width">Serum (Dry Packs, DI)</mat-label>
                    </p>
                  </div>
                  <div fxFlex="25%">
                      <mat-form-field class="full-width" appearance="outline">
                          <mat-label>Serum (Dry Packs, DI)</mat-label>
                          <input matInput formControlName="dryPacksD1" type="number" placeholder="Serum (Dry Packs, DI)" (keyup)="sumDiscards(quarantinedStockForm.value)">
                        </mat-form-field>
                  </div>
                </div>
                <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
                    <div fxFlex="17%">
                        <p>
                          <mat-label class="full-width">Samples only</mat-label>
                        </p>
                      </div>
                      <div fxFlex="25%">
                          <mat-form-field class="full-width" appearance="outline">
                              <mat-label>Samples only</mat-label>
                              <input matInput formControlName="samplesOnly" type="number" placeholder="Samples only" (keyup)="sumDiscards(quarantinedStockForm.value)">
                            </mat-form-field>
                      </div>
                    </div>
                    <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
                        <div fxFlex="17%">
                            <p>
                              <mat-label class="full-width">Expired</mat-label>
                            </p>
                          </div>
                          <div fxFlex="25%">
                              <mat-form-field class="full-width" appearance="outline">
                                  <mat-label>Expired</mat-label>
                                  <input matInput formControlName="expired" type="number" placeholder="Expired" (keyup)="sumDiscards(quarantinedStockForm.value)">
                                </mat-form-field>
                          </div>
                        </div>
                <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
                  <div fxFlex="17%">
                      <p>
                        <mat-label class="full-width">Other</mat-label>
                      </p>
                    </div>
                    <div fxFlex="25%">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Other</mat-label>
                            <input matInput formControlName="other" type="number" placeholder="Other" (keyup)="sumDiscards(quarantinedStockForm.value)">
                          </mat-form-field>
                    </div>
                  </div>


              <mat-divider [inset]="true"></mat-divider>
              <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
                  <div fxFlex="45%"></div>
                      <div fxFlex="30%">
                      <h1>
                        <mat-label class="full-width">Total Discards</mat-label>
                      </h1>
                    </div>
                    <div fxFlex="15%">
                        <mat-form-field class="full-width input-headline" appearance="outline">
                            <input matInput formControlName="totalIssuesDiscards" [(ngModel)]="initTotalDiscards" type="number" placeholder="total" readonly>
                          </mat-form-field>
                    </div>
                  </div>

    </mat-expansion-panel>
    <!-- end discards panel -->

    <!-- start issues panel -->
    <mat-expansion-panel [expanded]="true" class="border">
      <mat-expansion-panel-header class="primary-bg">
        <mat-panel-title>

        </mat-panel-title>
        <mat-panel-description>
          ISSUES
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
          <div fxFlex="17%">
            <p>
              <mat-label class="full-width">Available Stock</mat-label>
            </p>
          </div>
          <div fxFlex="25%">
              <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Available Stock</mat-label>
                  <input matInput formControlName="availableStock" type="number" (keyup)="sumIssues(quarantinedStockForm.value)">
                </mat-form-field>
          </div>
          <div fxFlex="17%"></div>
          </div>

      <div formArrayName="issuedToQuarantines">
        <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0"
        *ngFor="let item of StockIssuedToArray.controls; index as j; last as isLast"
      [formGroupName]="j">
      <input type="hidden" formControlName="id">
      <input type="hidden" formControlName="dateCreated">
      <input type="hidden" formControlName="version">
      <input type="hidden" formControlName="createdById">
      <!-- <input type="hidden" formControlName="branchName"> -->
        <div fxFlex="17%">
          <p>
            <mat-label class="full-width">Issued to {{branches[j]?.branchName}}</mat-label>
          </p>
        </div>
        <div fxFlex="25%">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label></mat-label>
                <input matInput formControlName="issuedTo" type="number" placeholder="" (keyup)="sumIssues(quarantinedStockForm.value)">
              </mat-form-field>
        </div>
        </div>
      </div>
      <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
        <div fxFlex="17%">
          <p>
            <mat-label class="full-width">Group mismatches to Ref Labs</mat-label>
          </p>
        </div>
        <div fxFlex="25%">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Group mismatches to Ref Labs</mat-label>
                <input matInput formControlName="issueTogroupMismatchesToRefLab" type="number" placeholder="Group mismatches to Ref Labs" (keyup)="sumIssues(quarantinedStockForm.value)">
              </mat-form-field>
        </div>
        <div fxFlex="17%"></div>
        </div>
        <mat-divider [inset]="true"></mat-divider>
          <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
              <div fxFlex="45%"></div>
                  <div fxFlex="30%">
                  <h1>
                    <mat-label class="full-width">Total Issues To Branches</mat-label>
                  </h1>
                </div>
                <div fxFlex="15%">
                    <mat-form-field class="full-width input-headline" appearance="outline">
                        <input matInput formControlName="totalIssues" type="number" [(ngModel)]="initTotalIssues" placeholder="total" readonly>
                      </mat-form-field>
                </div>
              </div>

    </mat-expansion-panel>
    <!-- end issues panel -->

    <!-- start other panel -->
    <mat-expansion-panel [expanded]="true" class="border">
    <mat-expansion-panel-header class="primary-bg">
      <mat-panel-title>

      </mat-panel-title>
      <mat-panel-description>
        OTHER QUARANTINE PRODUCTS
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
        <div fxFlex="17%">
          <p>
            <mat-label class="full-width">FFP 1</mat-label>
          </p>
        </div>
        <div fxFlex="25%">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>FFP 1</mat-label>
                <input type="number" matInput formControlName="ffp1" placeholder="FFP 1">
              </mat-form-field>
        </div>
        <div fxFlex="17%"></div>
      </div>
      <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
        <div fxFlex="17%">
            <p>
              <mat-label class="full-width">PLT 1</mat-label>
            </p>
          </div>
          <div fxFlex="25%">
              <mat-form-field class="full-width" appearance="outline">
                  <mat-label>PLT 1</mat-label>
                  <input matInput formControlName="plt1" type="number" placeholder="PLT 1">
                </mat-form-field>
          </div>
        </div>

        <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
        <div fxFlex="17%">
          <p>
            <mat-label class="full-width">PLT 2</mat-label>
          </p>
        </div>
        <div fxFlex="25%">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>PLT 2</mat-label>
                <input matInput formControlName="plt2" type="number" placeholder="PLT 2">
              </mat-form-field>
        </div>
        <div fxFlex="17%"></div>
      </div>
      <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
        <div fxFlex="17%">
            <p>
              <mat-label class="full-width">CRYO</mat-label>
            </p>
          </div>
          <div fxFlex="25%">
              <mat-form-field class="full-width" appearance="outline">
                  <mat-label>CRYO</mat-label>
                  <input matInput formControlName="cryo" type="number" placeholder="CRYO">
                </mat-form-field>
          </div>
        </div>

  </mat-expansion-panel>
    <!-- start other panel -->
  </mat-accordion>
  <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
    <div fxFlex="12%">
      <button mat-raised-button color="primary" class="save-btn" (click)="saveAQuarantinedStock(quarantinedStockForm.value)">Save</button>
    </div>
    <div fxFlex="70%"></div>
    <div fxFlex="12%">
      <button *ngIf="!editBranches" type="submit" mat-raised-button color="primary" (click)="submitStockQuarantined(quarantinedStockForm.value)">save and submit</button>
    </div>
</div>
</form>

</mat-card>
