
/* .mat-expansion-panel-header.mat-expanded:hover {
  background: red;
} */
.save-btn{
  margin: 10px;
}

.indicator {
  min-width: 20px;
}
.info-card{
  background-color: aliceblue;
  height: 6em;
  padding-left: 7px;
}
.input-headline {
  font-size: 28px;
  font-weight: 400;
  padding: 0px;
}
