
/* .mat-expansion-panel-header.mat-expanded:hover {
  background: red;
} */
.save-btn{
  margin: 10px;
}

.indicator {
  min-width: 20px;
}
.info-card{
  background-color: aliceblue;
  height: 6em;
  padding-left: 7px;
}
.input-headline {
  font-size: 28px;
  font-weight: 400;
  padding: 0px;
}
.no-space {
  margin: 0px;
}
.checke-by-font{
  font-family:'Comic Sans MS', cursive, sans-serif;
   color: grey;
}
.primary-bg {
  background: rgb(180, 157, 157);
}
.primary-bg :hover {
  color: rgb(238, 6, 6);
}
mat-expansion-panel-header:hover {
  background-color: rgb(122, 10, 10) !important;
}
