<form [formGroup]="dashForm">
<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div fxFlex="15%">
      <mat-form-field appearance="outline" class="full-width top-filters">
          <input matInput [matDatepicker]="picker1" placeholder="Angular forms" formControlName="date" (dateChange)="getDate(dashForm.value)">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
  </div>
  <div fxFlex="60%">
<div class="grid-container">
  <mat-grid-list cols="5" rowHeight="65px" gutterSize="0" class="branch-grid ">
      <!-- <div formArrayName="branchesForm"> -->
          <mat-grid-tile class=" ob-card"  *ngFor="let branch of allBranches | filterBy: formFilter index as i;" [colspan]="1" [rowspan]="1">
      <mat-card class="ob-card border_accent">
        <mat-card-content >
                <mat-checkbox [checked]="branch.selected" (change)="toggleForm(branch,i)">{{ branch.branchName }}</mat-checkbox>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  </div>
</div>
<div fxFlex="8%">
   <button type="button" mat-raised-button color="accent" class="top-filters-btn" (click)="getBranchInfo()">
     <mat-icon>sync</mat-icon>Search</button>
</div>
<div fxFlex="10%">
  <button style="margin-bottom: 5px; margin-top: 15px;" [routerLink]="['/available']" class="full-width" mat-raised-button color="primary" matBadge="{{unsubmitedAvailable}}" matBadgePosition="after" matBadgeColor="accent">
    Available
  </button>
  <button [routerLink]="['/quarantined']"class="full-width" mat-raised-button color="primary" matBadge="{{unsubmitedQuarantine}}" matBadgePosition="after" matBadgeColor="accent">
    Quarantine
  </button>
</div>
  </div>
  <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="10px" fxLayoutGap.xs="0">
    </div>
</form>

<div style="margin-top: -35px; " class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
  <div fxFlex="12%">
    <mat-card [style.background-color]="bsmsBgColor()" class="info-card ">
      <p>BSMS</p><h1>{{(branchesInfo?.bsms)>= 0 ? ((branchesInfo?.bsms)*100).toFixed(0):0}}%</h1>
    </mat-card>
  </div>
  <div fxFlex="12%">
    <mat-card  [style.background-color]="demandVsSupplyBgColor()" class="info-card">
      DEMAND VS SUPPLY<h1>{{(branchesInfo.supplies / branchesInfo?.orders) >= 0 ? ((branchesInfo.supplies / branchesInfo?.orders)*100).toFixed(2): 0}}%</h1>
    </mat-card>
  </div>
  <div fxFlex="12%">
    <mat-card class="info-card">
      <p>AVAILABLE STOCK</p><h2>{{branchesInfo.stockAvailable}}</h2>
    </mat-card>
  </div>
  <div fxFlex="12%">
    <mat-card class="info-card">
      <p>SUPPLIES:</p><strong>{{branchesInfo?.supplies}}</strong>
      <p>ORDERS:</p><strong>{{branchesInfo?.orders}}</strong>
    </mat-card>
  </div>
  <div fxFlex="12%">
    <mat-card [style.background-color]="collectionsBgColor()" class="info-card">
      <!-- <p>COLLECTIONS</p><h2>{{ ((branchesInfo?.collections/150)*100).toFixed(2)}}%</h2> -->
      No. OF COLLECTIONS: <strong>{{ numberOfCollections}}</strong>
      COLLECTIONS:<h2>{{ collections >= 0 ? collections : 0}}%</h2>
    </mat-card>
  </div>
  <div fxFlex="12%">
    <mat-card class="info-card">
      <p>QUARANTINE STOCK</p><h2>{{branchesInfo.quarantineStock}}</h2>
    </mat-card>
  </div>
  <div fxFlex="12%">
    <mat-card class="info-card">
      <p>OPENING:<strong>{{branchesInfo?.opening}}</strong></p>
      <p>RECEIPTS:<strong>{{branchesInfo?.receipts}}</strong></p>
      <p>ISSUES:<strong>{{branchesInfo?.issues}}</strong></p>
      <p>DISCARDS:<strong>{{branchesInfo?.discards}}</strong></p>
    </mat-card>
  </div>
  </div>

  <mat-divider></mat-divider>

  <form [formGroup]="bloodStockManagementAnalysisForm">
  <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="12px" fxLayoutGap.xs="0">
    <div fxFlex="75%">
      <mat-card class="border border_radius">
  <mat-grid-list cols="8" rowHeight="25px" >
    <mat-grid-tile class="grid-bg-a" [colspan]=8><h3> Blood Stocks Management Analysis</h3></mat-grid-tile>
    <mat-grid-tile [rowspan]=2 class="grid-bg-b">Blood Group</mat-grid-tile>
    <mat-grid-tile [rowspan]=2 class="grid-bg-b">Stocked Units</mat-grid-tile>
    <mat-grid-tile [rowspan]=2 class="grid-bg-b">Branch Daily Requirements</mat-grid-tile>
    <mat-grid-tile [rowspan]=2 class="grid-bg-b">Days Supply</mat-grid-tile>
    <mat-grid-tile [rowspan]=2 class="grid-bg-b"> Stock Levels Color Code</mat-grid-tile>
    <mat-grid-tile [rowspan]=2 class="grid-bg-b">No. of Weeks Supply</mat-grid-tile>
    <mat-grid-tile [colspan]=2 [rowspan]=2 class="grid-bg-b">Responsive Action</mat-grid-tile>

    <mat-grid-tile class="grid-bg-a">O+</mat-grid-tile>
    <mat-grid-tile class="grid-bg-a">
        <mat-form-field class="full-width">
            <input matInput placeholder="" formControlName="stockedUnitsOplus">
          </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile class="grid-bg-a">
      <mat-form-field class="full-width">
        <input matInput placeholder="" formControlName="requirementsOplus">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile class="grid-bg-a">
        <mat-form-field class="full-width">
            <input matInput placeholder="" formControlName="daysSupplyOplus">
          </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [style.background-color]="stockLevelColorCodeOplus()" class=""></mat-grid-tile>

    <mat-grid-tile class="grid-bg-a">
        <mat-form-field class="full-width">
            <input matInput placeholder="" formControlName="weeksSupplyOplus">
          </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=2 class="grid-bg-a"><p>{{responsiveActionOplus()}}</p></mat-grid-tile>

    <mat-grid-tile class="grid-bg-b">O-</mat-grid-tile>
    <mat-grid-tile class="grid-bg-b">
        <mat-form-field class="full-width">
            <input matInput placeholder="" formControlName="stockedUnitsOminus">
          </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile class="grid-bg-b">
      <mat-form-field class="full-width">
        <input matInput placeholder="" formControlName="requirementsOminus">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile class="grid-bg-b">
        <mat-form-field class="full-width">
            <input matInput placeholder="" formControlName="daysSupplyOminus">
          </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [style.background-color]="stockLevelColorCodeOminus()" class=""></mat-grid-tile>
    <mat-grid-tile class="grid-bg-b">
        <mat-form-field class="full-width">
            <input matInput placeholder="" formControlName="weeksSupplyOminus">
          </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=2 class="grid-bg-b"><p>{{responsiveActionOminus()}}</p></mat-grid-tile>

    <mat-grid-tile class="grid-bg-a">A+</mat-grid-tile>
    <mat-grid-tile class="grid-bg-a">
        <mat-form-field class="full-width">
            <input matInput placeholder="" formControlName="stockedUnitsAplus">
          </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile class="grid-bg-a">
      <mat-form-field class="full-width">
        <input matInput placeholder="" formControlName="requirementsAplus">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile class="grid-bg-a">
        <mat-form-field class="full-width">
            <input matInput placeholder="" formControlName="daysSupplyAplus">
          </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [style.background-color]="stockLevelColorCodeAplus()" class=""></mat-grid-tile>
    <mat-grid-tile class="grid-bg-a">
        <mat-form-field class="full-width">
            <input matInput placeholder="" formControlName="weeksSupplyAplus">
          </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=2 class="grid-bg-a"><p>{{responsiveActionAplus()}}</p></mat-grid-tile>

    <mat-grid-tile class="grid-bg-b">B+</mat-grid-tile>
    <mat-grid-tile class="grid-bg-b">
      <mat-form-field class="full-width">
        <input matInput placeholder="" formControlName="stockedUnitsBplus">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile class="grid-bg-b">
      <mat-form-field class="full-width">
      <input matInput placeholder="" formControlName="requirementsBplus">
    </mat-form-field>
  </mat-grid-tile>
    <mat-grid-tile class="grid-bg-b"><mat-form-field class="full-width">
        <input matInput placeholder="" formControlName="daysSupplyBplus">
      </mat-form-field></mat-grid-tile>
    <mat-grid-tile [style.background-color]="stockLevelColorCodeBplus()" class=""></mat-grid-tile>
    <mat-grid-tile class="grid-bg-b">
        <mat-form-field class="full-width">
            <input matInput placeholder="" formControlName="weeksSupplyBplus">
          </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=2 class="grid-bg-b"><p>{{responsiveActionBplus()}}</p></mat-grid-tile>

    <mat-grid-tile [rowspan]=2 class="grid-bg-a">Available stock Total (Weighted)</mat-grid-tile>
    <mat-grid-tile [rowspan]=2 class="grid-bg-a">
      <mat-form-field class="full-width">
        <input matInput placeholder="" formControlName="totalStockedUnitsAvailable">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]=2 class="grid-bg-a">
      <mat-form-field class="full-width">
        <input matInput placeholder="" formControlName="bdrAvailableStockTotal">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]=2 class="grid-bg-a">
        <mat-form-field class="full-width">
            <input matInput placeholder="" formControlName="daysSupplyAvailable">
          </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]=2 [style.background-color]="stockLevelColorCodeAvailable()" class=""></mat-grid-tile>
    <mat-grid-tile [rowspan]=2 class="grid-bg-a">
        <mat-form-field class="full-width">
            <input matInput placeholder="" formControlName="weeksSupplyAvailable">
          </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=2 [rowspan]=2 class="grid-bg-a">{{responsiveActionAvailable()}}</mat-grid-tile>

    <mat-grid-tile [rowspan]=2 class="grid-bg-b">Quarantine Stock Total (Weighted)</mat-grid-tile>
    <mat-grid-tile [rowspan]=2 class="grid-bg-b">
      <mat-form-field class="full-width">
        <input matInput placeholder="" formControlName="totalStockedUnitsQuarantined">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]=2 class="grid-bg-b">
      <mat-form-field class="full-width">
        <input matInput placeholder="" formControlName="bdrStockedUnitsQuarantined">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]=2 class="grid-bg-b">
      <mat-form-field class="full-width">
        <input matInput placeholder="" formControlName="daysSupplyStockedUnitsQuarantined">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]=2 [style.background-color]="stockLevelColorCodeQuarantine()" class=""></mat-grid-tile>
    <mat-grid-tile [rowspan]=2 class="grid-bg-b">
      <mat-form-field class="full-width">
        <input matInput placeholder="" formControlName="weeksSupplyQuarantine">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=2 [rowspan]=2 class="grid-bg-b">{{responsiveActionQuarantine()}}</mat-grid-tile>
  </mat-grid-list>
  </mat-card>
</div>
<div fxFlex="25%">
  <mat-card style="padding: 0px;" class="border-radius">
    <mat-card-header style="padding: 0px;" class="green-bg-a borders"><strong style="font-size: 15px; padding-top: 10px; padding-bottom: 10px;">Daily blood collections assessment</strong></mat-card-header>
    <mat-grid-list cols="4" rowHeight="25px" >
      <!-- <mat-grid-tile [colspan]=4 [rowspan]=2 class="green-bg-a border-radius"><h3>Daily blood collections assessment</h3></mat-grid-tile> -->
      <mat-grid-tile class="green-bg-b" [colspan]=3 [rowspan]=2><p>Total blood collections from all clinics</p></mat-grid-tile>
      <mat-grid-tile class="green-bg-b" [rowspan]=2><strong>{{ numberOfCollections}}</strong></mat-grid-tile>
      <mat-grid-tile class="green-bg-b" [colspan]=3 [rowspan]=2>Expected minimum capacity blood collections from all clinics</mat-grid-tile>
      <mat-grid-tile class="green-bg-b" [rowspan]=2><strong>{{expectedMinCap}}</strong></mat-grid-tile>
      <mat-grid-tile class="green-bg-b" [colspan]=3 [rowspan]=2>Blood collections performance (% of minimal capacity)</mat-grid-tile>
      <mat-grid-tile class="green-bg-b" [rowspan]=2><strong>{{collections >= 0 ? collections: 0}}</strong></mat-grid-tile>
      <mat-grid-tile class="green-bg-b" [colspan]=3 [rowspan]=2>Blood collections indicator code</mat-grid-tile>
      <mat-grid-tile class="green-bg-b" [rowspan]=2 style="border: 1px solid " [style.border-color]="collectionsBgColor()"><strong>{{collectionsBgColor()}}</strong></mat-grid-tile>
    </mat-grid-list>
  </mat-card>
  <mat-card style="padding: 0px;" class="border-radius borders"><mat-grid-list cols="4" rowHeight="30px" >
      <mat-grid-tile class="orange-bg-a" ><p>Quarantine</p></mat-grid-tile>
      <mat-grid-tile class="orange-bg-b" ><strong>{{branchesInfo?.quarantineStock}}</strong></mat-grid-tile>
      <mat-grid-tile class="orange-bg-a" >Expires</mat-grid-tile>
      <mat-grid-tile class="orange-bg-b" ><strong>{{branchesInfo?.expired}}</strong></mat-grid-tile>
      <mat-grid-tile class="orange-bg-a" ><p>Serum</p></mat-grid-tile>
      <mat-grid-tile class="orange-bg-b" ><strong>{{branchesInfo?.serum}}</strong></mat-grid-tile>
      <mat-grid-tile class="orange-bg-a" >Samples</mat-grid-tile>
      <mat-grid-tile class="orange-bg-b" ><strong>{{branchesInfo?.samplesOnly}}</strong></mat-grid-tile>
      </mat-grid-list>
  </mat-card>
</div>
</div>
</form>

<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="12px" fxLayoutGap.xs="0">
  <div fxFlex="35%">
<app-BloodGroup-DaysSupply *ngIf="branchInfoAvailable" [branchData]="branchesInfo"></app-BloodGroup-DaysSupply>
</div>
<div fxFlex="35%">
    <app-branch-contributions></app-branch-contributions>
</div>
<div fxFlex="35%">
        <app-blood-groups-distributions></app-blood-groups-distributions>
    </div>
</div>
<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="12px" fxLayoutGap.xs="0">
    <div fxFlex="30%">
<div style="margin: 0px" class="container " fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="12px" fxLayoutGap.xs="0">
    <div fxFlex="100%">
        <app-stockes-chart *ngIf="branchInfoAvailable" [branchData]="branchesInfo"></app-stockes-chart>
      </div>
      </div>
      <div style="margin: 0px" class="container " fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="12px" fxLayoutGap.xs="0">
          <div fxFlex="100%">
              <app-collections-chart *ngIf="branchInfoAvailable" [branchData]="branchesInfo"></app-collections-chart>
            </div>
            </div>
      </div>
  <div fxFlex="70%">
        <app-deemand-vs-supply></app-deemand-vs-supply>
    </div>

</div>
<div style="margin: 0px" class="container " fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="12px" fxLayoutGap.xs="0">
  <div fxFlex="100%">
      <app-monthly-branch-analysis *ngIf="branchInfoAvailable"></app-monthly-branch-analysis>
    </div>
    </div>
<!-- {{dashForm.value | json}} -->
