<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div fxFlex="98%">
      <mat-toolbar class="border border-radius" style="border-radius: 5px ; ">
        <span>Dashboard</span>
      </mat-toolbar>
    </div>
</div>
<div class="grid-container">
  <mat-grid-list *ngIf="company !== null" cols={{column}} rowHeight="200px">
    <mat-grid-tile *ngFor="let card of list" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card role="region" (click)="redirect(card.link)" class="dashboard-card">
        <mat-card-header>
          <mat-card-title>

            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
              <mat-icon *ngIf="card.title!=='Clinical'" >{{card.icon}}</mat-icon>
              <span *ngIf="card.title=='Clinical'" class="medical-icon-i-outpatient med-icon" aria-hidden="true" style="font-size: 25px;"></span>
            <!-- <span><mat-icon [ngClass]="iconSize">{{card.icon}}</mat-icon></span>-->
            <h2 [ngClass]="fontSize">{{card.title}}</h2>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
