.right-align {
  text-align: right;
}

.grid-top-space{
  margin-top: 10px;
}
.info-card{
  background-color: aliceblue;
  height: 5em;
}
.input-headline {
  font-size: 28px;
  font-weight: 400;
  padding: 0px;
}
.grid-bg-a{
  background: rgb(233, 191, 191);
}
.grid-bg-b{
  background: rgb(248, 236, 236);
}
