.right-align {
  text-align: right;
}
.primary-bg {
  background: rgb(180, 157, 157);
}
.primary-bg :hover {
  color: rgb(238, 6, 6);
}
mat-expansion-panel-header:hover {
  background-color: rgb(122, 10, 10) !important;
}
.grid-top-space{
  margin-top: 10px;
}
.info-card{
  background-color: aliceblue;
  height: 5em;
}
.input-headline {
  font-size: 28px;
  font-weight: 400;
  padding: 0px;
}
.grid-bg-a{
  background: rgb(233, 191, 191);
}
.grid-bg-c{
  background: rgb(156, 155, 155);
}
.grid-bg-b{
  background: rgb(248, 236, 236);
}
.indicator {
  min-width: 30px;
}
.error_text{
  color: rgb(255, 72, 0);
  font-size: 10px;
}
.no-space {
  margin: 0px;
}
.checke-by-font{
  font-family:'Comic Sans MS', cursive, sans-serif;
   color: grey;
}
